<section class="column">
  <button type="button" class="btn btn-primary" (click)="input.click()">Choose file</button>
  <input #input type="file" id="img" name="img" accept="image/*" (change)="handleFileInput($event)" />
  <div class="canvas-container">
    <canvas #canvasImage id="canvasImage" style="border: 2px solid"> </canvas>
    <canvas
      #canvasCursor
      id="canvasCursor"
      (mousedown)="mousedown($event)"
      (mouseup)="mouseup($event)"
      (mousemove)="drawRect($event)"
      style="border: 2px solid"
    >
    </canvas>
  </div>
  <div>
    <button type="button" class="btn btn-secondary m-2" (click)="cancel()" [disabled]="!rectIsSet || !file">
      Cancel
    </button>
    <button type="button" class="btn btn-primary m-2" (click)="crop()" [disabled]="!rectIsSet || !file">
      Apply crop
    </button>
    <button type="button" class="btn btn-success m-2" (click)="save()" [disabled]="!imageInputFile.src || !file">
      Save
    </button>
  </div>
  <section class="m-2 column">
    <ng-container *ngIf="imagesSave.length > 0; else spinner">
      <ul class="nav nav-tabs w-100">
        <li class="nav-item">
          <a class="nav-link" [ngClass]="navTarget === 'list' ? 'active' : 'text-primary'" (click)="navTarget = 'list'">Liste</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [ngClass]="navTarget === 'doc' ? 'active' : 'text-primary'" (click)="navTarget = 'doc'" >Swagger v2 Doc</a>
        </li>
      </ul>
      <div class="d-flex flex-wrap justify-content-between">
        <ng-container [ngSwitch]="navTarget">
          <ng-container *ngSwitchCase="'list'" [ngTemplateOutlet]="list"></ng-container>
          <ng-container *ngSwitchCase="'doc'" [ngTemplateOutlet]="doc"></ng-container>
        </ng-container>
      </div>
    </ng-container>
  </section>

  <ng-template #spinner>
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border"></div>
    </div>
  </ng-template>

  <ng-template #list>
    <div *ngFor="let image of imagesSave" class="card m-2" style="width: 10rem">
      <img class="card-img-top" [src]="image.src" alt="Card image cap" />
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">Id : {{ image.id }}</h5>
        <p class="card-text">Name file : {{ image.name }}</p>
        <button type="button" class="btn btn-danger" (click)="delete(image.id)">Delete</button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #doc>
    <div class="iframe shadow position-fixed rounded">
      <button type="button" class="close position-absolute" aria-label="Close" (click)="navTarget = 'list'">
        <span aria-hidden="true">&times;</span>
      </button>
      <iframe class="iframe position-fixed" [src]="swaggerUi" frameborder="0"></iframe>
    </div>
  </ng-template>
  
</section>
<section id="insert"></section>
